modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/discord-bot run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 18960
externalPort = 3001

[userenv]

[userenv.shared]
DASHBOARD_API_KEY = "41b9ba6282a71eca719d8834d23077b4d3ac9def654b47b261908ee8e1a8f1ea"
DISCORD_REDIRECT_URI = "https://b88b3719-bd50-4781-9be1-fd0c5e034053-00-2n29wlko2pcg5.pike.replit.dev/api/auth/callback"
FRONTEND_URL = "https://basurai.rf.gd"
